code.js.
  url = 'http://demo.apidone.com/movies/123/awards';
  data = {"name": "Oscar", "year": "2010", "total": 2};
  $.ajax({
    url: url,
    type: 'POST',
    dataType: 'json',
    data: JSON.stringify(data),
    success: function(data, textStatus, xhr) {
      alert("Id:"+data.id);
    }
  });