code.js.
  $.ajax({
    url: 'http://demo.apidone.com/movies',
    type: 'POST',
    dataType: 'json',
    data: {"id": "123", "name": "Up", "year": "2009"},
    success: function(data, textStatus, xhr) {
      alert("Id:"+data.id);
    }
  });