<html>
<head>

<title></title>
<style type="text/css">
    a.documentation {
        font-size: 20px;

    }
</style>
</head>

<body marginheight="0" marginwidth="0">

<table width="100%" height="100%" bgcolor="#FFFFFF" border="0">

    <tr height="150px">
        <td colspan="3" valign="middle" align="center" bgcolor="#EEEEEE"><a href="http://apidone.com"><img src="APIdone_logo.png" height="80px" border="0"></a>
        </td>
    </tr>
    <tr>
        <td colspan="3" height="10px"></td>
    </tr>
    <tr>
        <td colspan="3" height="10px" align="center"><h3>Thanks for signing up, your <font color="#0000FF">APIdone</font> account is:</h3></td>
    </tr>
    <tr>
        <td></td>
        <td width="90%" align="center"><h1>___apidone_url___</h1>
        <a href="http://www.apidone.com/docs.html" class="documentation">(Documentation)</a>
        </td>
        <td></td>
    </tr>
    <tr>
    <td colspan="3">
        <table width="100%" height="100%" bgcolor="#EEEEEE" border="0">
            <tr>
                <td width="230px">
                </td>
                <td width="240px"></td>
                <td width="230px">
                APIdone 2012<br>
                contact@apidone.com
                </td>
            </tr>
        </table>
    </td>
    </tr>
</table>

</body>

</html>