mixin resource_header('create_nested')
div.tab-content
  div#description-create_nested.code-examples.specific.tab-pane.active
    img(src="/assets/img/explained4.png")
  div#jquery-create_nested.code-examples.tab-pane
    include create_nested/jquery.jade
  div#curl-create_nested.code-examples.tab-pane
    include create_nested/curl.jade