mixin resource_header('create')
div.tab-content
  div#description-create.code-examples.specific.tab-pane.active
    img(src="/assets/img/explained1.png")
  div#jquery-create.code-examples.tab-pane
    include create/jquery.jade
  div#curl-create.code-examples.tab-pane
    include create/curl.jade