mixin resource_header('get')
div.tab-content
  div#description-get.code-examples.specific.tab-pane.active
    img(src="/assets/img/explained3.png")
  div#jquery-get.code-examples.tab-pane
    include get/jquery.jade
  div#curl-get.code-examples.tab-pane
    include get/curl.jade