mixin resource_header('list_w_filter')
div.tab-content
  div#description-list_w_filter.code-examples.specific.tab-pane.active
    img(src="/assets/img/explained5.png")
  div#jquery-list_w_filter.code-examples.tab-pane
    include list_w_filter/jquery.jade
  div#curl-list_w_filter.code-examples.tab-pane
    include list_w_filter/curl.jade