mixin resource_header('list')
div.tab-content
  div#description-list.code-examples.specific.tab-pane.active
    img(src="/assets/img/explained2.png")
  div#jquery-list.code-examples.tab-pane
    include list/jquery.jade
  div#curl-list.code-examples.tab-pane
    include list/curl.jade