extends ../base

block vars
  - var title='APIdone'
  - var body_class='home'

block content
  include examples/utils
  .hero-unit.text-centered.main
    h1 APIdone
    h2 A ready to use backend
    p.text-centered.landing
      | APIdone is a ready to use RESTful API. That will save you the hassle of creating an API, setup a server and install a database.
    a.btn.btn-primary.btn-large.btn-success.btn-invite(href='register.html') 30 days Free trial
    p.no_cc No Credit card required
  .container

    .hero-unit.text-centered.examples
      h2.text-left Examples
      p.text-left We can easily use APIdone to store, retrieve, update and delete information. For example we are going to show a simple way to store, movies information.

      h3 Create Resource
      include examples/create

      h3 List Resources
      include examples/list

      h3 Get One Resource
      include examples/get

      h3 Create Nested Resource
      include examples/create_nested

      h3 List Resources using filters
      include examples/list_w_filter

      a.btn.btn-primary.btn-large.btn-success.btn-invite(href='register.html') 30 days Free trial
      p.no_cc No Credit card required
  .container.text-centered.features
    h2.text-left Features
    .row
      .span4
        .image-holder
          img(src='assets/img/features_save_time.png', alt='Save time', style='border: 0; width: 190px;')
        p.text-centered
          | Don't waste your time building a Backend, save it and focus in your front-end, mobile app or iOS app.
      .span4
        .image-holder
          img(src='assets/img/features_rest.png', alt='REST', style='border: 0; margin-top: 20px;')
        p.text-centered A flexible REST API, you can define how you want you use it (see examples).
      .span4
        .image-holder
          img(src='assets/img/features_secure.png', alt='Secure', style='border: 0; width: 120px;')
        p.text-centered We store you data in a secure location.