extends ../base

block vars
  - var title='APIdone'
  - var body_class='home'

block content
  .hero-unit.text-centered.main
    h1 APIdone
    h2 A ready to use backend
    p.text-centered.landing
      | APIdone is a ready to use RESTful API. That will save you the hassle of creating an API, setup a server and install a database.
    a.btn.btn-primary.btn-large.btn-success.btn-invite(href='register.html') Start (only $19 month)
    p.no_cc 30 days trial - No Credit card required
  .hero-unit.text-centered.features
    h2.text-left Examples
    .row-fluid.no-border
      .span6.text-header Input
      .span6.text-header Output
    h4.example_title Create Resource
    .row-fluid
      .span6
        | <pre><code class="bash">$ curl -X POST "http://demo.apidone.com/movies" \
        | -d '{"id": "123", name": "Up", "year": "2009"}' \
        | -H "Content-Type: application/json"</code></pre>   
      .span6
        | <pre><code class="js">Status: 201
        | body: {"id":"123"}</code></pre>       
    h4.example_title List Resources
    .row-fluid
      .span6
        | <pre><code class="bash">$ curl -X GET "http://demo.apidone.com/movies"</code></pre>
      .span6
        | <pre><code class="js">Status: 200
        | body: [{"id":"123","name":"Up","year":"2009"}]</code></pre>
    h4.example_title Create nested resource
    .row-fluid
      .span6
        | <pre><code class="bash">$ curl -X POST \
        | "http://demo.apidone.com/movies/123/awards" \
        | -d '{"name": "Oscar", "year": "2010", "total": 2}'</code></pre>
      .span6
        | <pre><code class="js">Status: 201
        | body: {"id":"509176c56768501c0c00018c"}</code></pre>      
    a.btn.btn-primary.btn-large.btn-success.btn-invite(href='register.html') Start (only $19 month)
    p.no_cc 30 days trial - No Credit card required
  .hero-unit.text-centered.examples
    h2.text-left Features
    .row
      .span4
        .image-holder
          img(src='assets/img/features_save_time.png', alt='Save time', style='border: 0; width: 190px;')
        p.text-centered
          | Don't waste your time building a Backend, save it and focus in your front-end, mobile app or iOS app.
      .span4
        .image-holder
          img(src='assets/img/features_rest.png', alt='REST', style='border: 0; margin-top: 20px;')
        p.text-centered A flexible REST API, you can define how you want you use it (see examples).
      .span4
        .image-holder
          img(src='assets/img/features_secure.png', alt='Secure', style='border: 0; width: 120px;')
        p.text-centered We store you data in a secure location.